# Configuration file

general {
    # Set to true for verbose debug
    B:debug=false

    # Server unique ID
    S:guid=6ad7b3a0-91ab-4b6b-97d6-8351e928e220

    # Set to true to disable all reporting
    B:opt-out=false
}


